In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1. Data

In [0]:
df_disaster = pd.read_csv('train.csv')
df_disaster.shape

(7613, 5)

In [0]:
!python -m spacy download en_core_web_md

Requirement already satisfied: en_core_web_md==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz#egg=en_core_web_md==2.1.0 in /usr/local/lib/python3.6/dist-packages (2.1.0)
âœ” Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(df_disaster['text'], df_disaster['target'], test_size=0.2)

# 2. Spacy word vectors

In [0]:
import spacy
nlp = spacy.load("en_core_web_md")

def display_vectors(text):
  doc = nlp(text)
  for token in doc:
    print(token.text, token.has_vector, token.vector_norm, token.is_oov)

def get_vector(text):
  doc = nlp(text)
  return doc.vector #average of the token vectors.

In [0]:
print(nlp('man').similarity(nlp('woman')))
print(nlp('king').similarity(nlp('queen')))
print(nlp('actor').similarity(nlp('actress')))
print(nlp('doctor').similarity(nlp('nurse')))

0.7401744538491297
0.7252610345406867
0.7484467528753997
0.6880643786881521

In [0]:
print(nlp('france').similarity(nlp('paris')))
print(nlp('japan').similarity(nlp('tokyo')))
print(nlp('usa').similarity(nlp('la')))

0.7916328323319856
0.800706948877685
0.24974637037031683

In [0]:
display_vectors(df_disaster['text'].iloc[3587])

Winnipeg True 6.459667 False
police True 7.3889823 False
seek True 5.802574 False
witnesses True 6.5771213 False
in True 5.0929856 False
Arlington True 6.3564496 False
and True 4.6577983 False
William True 6.7178607 False
fatal True 6.661328 False
crash True 6.6807313 False
http://t.co/N2bCf4M64V False 0.0 True

In [0]:
X_train_we = X_train.apply(get_vector)
X_val_we = X_val.apply(get_vector)

In [0]:
X_train_we = pd.DataFrame(X_train_we.tolist())
X_val_we = pd.DataFrame(X_val_we.tolist())
X_train_we.shape, X_val_we.shape

((6090, 300), (1523, 300))

In [0]:
X_train_we.sample(5)

           0         1         2    ...       297       298       299
5081 -0.081516  0.137667  0.047158  ... -0.082663 -0.114555  0.004344
5758 -0.052561  0.190063 -0.074788  ...  0.007629 -0.010521  0.036336
1682  0.140874 -0.029021 -0.049915  ...  0.040557 -0.140717  0.082089
5494 -0.227624  0.187711 -0.014611  ... -0.158389 -0.114203  0.151461
5955 -0.163305  0.131606 -0.017082  ... -0.156782  0.057225  0.019538

[5 rows x 300 columns]

# 3. Modelamiento

In [0]:
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

def test_model(train, val, y_train, y_val):
    svmodel = svm.SVC()
    svmodel.fit(train,y_train)

    predictions = svmodel.predict(val)
    print("Accuracy Score -> ",accuracy_score(predictions, y_val)*100)
    print("F1 Score -> ",f1_score(predictions, y_val)*100)

In [0]:
test_model(X_train_we, X_val_we, y_train, y_val)

Accuracy Score ->  82.27183191070256
F1 Score ->  77.46243739565944

**Â¿Que pasa con las palabras fuera del vocabulario?**

In [0]:
doc = nlp('@usatoday')
for token in doc: print(token.text, token.has_vector, token.vector_norm,token.is_oov)

@usatoday False 0.0 True

# 4. Entrenamiento de vectores desde cero

In [0]:
def tokenizer(text):
  doc = nlp(text)
  tokens = [token.text for token in doc]
  return tokens

In [0]:
sents = df_disaster.text.apply(tokenizer)

In [0]:
from gensim.models import Word2Vec

In [0]:
model = Word2Vec(sents, min_count=3, size=100, window=5, sg=1)

In [0]:
print(model.similarity('man', 'woman'))
print(model.similarity('King', 'Queen'))

0.98032683
0.8026181

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similarity` (Method will be removed in 4.0.0, use self.wv.similarity() instead).
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `similarity` (Method will be removed in 4.0.0, use self.wv.similarity() instead).

In [0]:
model.most_similar('@usatoday')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('Case', 0.9983925819396973),
 ('units', 0.9983007907867432),
 ('min', 0.9982388019561768),
 ('MIDO', 0.9982192516326904),
 ('Travel', 0.9981244802474976),
 ('Navy', 0.9981186389923096),
 ('Dramatic', 0.9981140494346619),
 ('Newest', 0.9980981945991516),
 ('Route', 0.9980724453926086),
 ('Complex', 0.9980449676513672)]

In [0]:
def document_vector(sent):
  word_vectors = [model[token] if token in model.wv else np.zeros(100) for token in sent]
  return np.asarray(word_vectors).mean(axis=0)

In [0]:
X_train_sents = X_train.apply(tokenizer)
X_val_sents = X_val.apply(tokenizer)

X_train_w2v = [document_vector(sent) for sent in X_train_sents]
X_val_w2v = [document_vector(sent) for sent in X_val_sents]

X_train_w2v = np.stack(X_train_w2v)
X_val_w2v = np.stack((X_val_w2v))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

In [0]:
test_model(X_train_w2v, X_val_w2v, y_train, y_val)

Accuracy Score ->  73.60472751149048
F1 Score ->  63.52087114337568